extends ../layouts/layout.pug

block content

  .document.container
    .row
      .col-lg-12
        h1 ${layout.epic}
      .col-lg-12
        p
          | ${epic.epic-1}
        p
          | ${epic.epic-2}
        p
          | ${epic.epic-3}
        p
          | ${epic.epic-4}
        p
          | ${epic.epic-5}