extends ../layouts/layout.pug

block content

  .document.container
    .row
      .col-lg-12
        h1 ${layout.other}
      .col-lg-12
        p
          | ${other.other-1}
        p
          | ${other.other-2}
        p
          | ${other.other-3}
        p
          | ${other.other-4}
        p
          | ${other.other-5}