extends ../layouts/layout.pug

block content

  .document.container
    .row
      .col-lg-12
        h1 ${layout.regs}
      .col-lg-12
        p
          | ${regs.regs-1}
        p
          | ${regs.regs-2}
        p
          | ${regs.regs-3}
        p
          | ${regs.regs-4}
        p
          | ${regs.regs-5}