extends ../layouts/layout.pug

block content

  .document.container
    .row
      .col-lg-12
        h1 ${layout.rrg}
      .col-lg-12
        p
          | ${rrg.rrg-1}
        p
          | ${rrg.rrg-2}
        p
          | ${rrg.rrg-3}
        p
          | ${rrg.rrg-4}
        p
          | ${rrg.rrg-5}