extends layouts/layout.pug

block content

  .document.container

    .row
      .jumbotron
        h1 ${{ index.jumbotron }}$
        p.lead ${{ index.lead }}$
      p ${{ index.w1 }}$
      p ${{ index.w2 }}$
      p ${{ index.w3 }}$
  